[Unit]
Description=Living Room Display Switcher
After=graphical.target gnome-session-initialized.target
Wants=graphical.target
PartOf=gnome-session-initialized.target
Before=gnome-session-initialized.target

[Service]
Slice=session.slice
Type=simple
ExecStart=/home/egk/ethereum-grafana-cluster/wrapper.sh
Restart=always
RestartSec=10
TimeoutStopSec=5
OOMScoreAdjust=-500

[Install]
WantedBy=default.target
